
.holder .item:nth-child(1){
    background-color: red;
}
.holder .item:nth-child(2){
    background-color: skyblue;
    align-self: flex-end;
    order: 2;
}
.holder .item:nth-child(3){
    background-color: purple;
    align-self: flex-end;
}
.holder .item:nth-child(4){
    background-color: green;
    align-self: flex-end;
    order: 2;
}
.holder .item:nth-child(5){
    background-color: goldenrod;
    order: 2;
}

.holder{
    display: flex;
    align-items: flex-start;
    border: 3px solid black;
    margin: 0 auto;
    width: 500px;
    height: 120px;
    display: flex;
}

.holder .item{
    padding: 21px;
    text-align: center;
    box-sizing: border-box;
}

.item{
    flex-grow: 4;
}